@using RookieShop.Shared;
@using Rookie.CustomerSite.ViewModels;
@inject Microsoft.Extensions.Configuration.IConfiguration configuration;

@model ViewProductDetail

@{
	ViewData["Title"] = "Product detail Page";
	Model.clear();
	Model.init();
}


<div class="container">
	<div class="row">
		<div style="display: inline-block">
			<a id="order_path_home" asp-controller="Home" asp-action="Index">
				Home
			</a>
			>
			<a id="order_path_category" asp-controller="Category" asp-action="@Model.category.id">
				@Model.category.name
			</a>
			> @Model.product.name
		</div>
		<hr />
	</div>
	<div class="row">
		<div class="col-8">
			<div id="product_detail_image_frame" class="text-center">
				<div id="product_detail_image_btn" class="btn btn-outline-light p-0">
					<img id="product_detail_image" src="@Url.Content(configuration["BackendBaseAddress"] + Model.product.imageUri)" alt="Model.imageUri">
				</div>
			</div>
		</div>
		<div class="col">
			<div id="product_property" class="mt-5">
				<h2 id="product_detail_name">@Model.product.name</h2>
				<h4>@Model.product.price VNĐ</h4>

				@if (Model.product.amount > 0)
				{
					<h6 style="color: green">In stock: @Model.product.amount</h6>
					<div>
						<select class="form-control mt-4 mb-2 w-auto" id="quantity_purchase">
							@for (int i = 1; i <= Model.limitAmount; ++i)
							{
								<option>@i</option>
							}
						</select>
					</div>
				}
				else
				{
					<h6 style="color: tomato">Out of stock</h6>
				}
				@*<label for="quantity_purchase">Quantity you would like to purchase:</label>*@


				<p>*Note: We restrict the purchase limit available to a single household to ensure fairness for all of our fans.</p>
			</div>

			<a id="addtocard_product_detail_btn" href="#" class="btn btn-outline-light w-100">
				<p id="addtocard_product_detail_text">Add to Cart</p>
			</a>
		</div>
	</div>
	<div class="row">
		<h2>Description</h2>
		<hr />
		<p>@Model.product.description</p>
	</div>
	<div class="row pb-3">
		<h3>Customer Reviews</h3>
		<hr />
		<div class="row">
			<div class="col-8">
				
				<h6>Overall Rating</h6>

				<div style="display: inline">
					@for (int star = 0; star < Model.overallPointDisplay; ++star)
					{
						<span class="fa fa-star checked"></span>
					}

					@for (int star = Model.overallPointDisplay; star < 5; ++star)
					{
						<span class="fa fa-star"></span>
					}

					<p>(@Model.product.ratings.Count Reviews)</p>
				</div>
								
			</div>
			<div class="col">
				<button id="writeareview_btn" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Write a review</button>

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<form class="needs-validation" novalidate asp-controller="Product" asp-action="addRating" method="post">

								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">New Rating</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										<label for="customer-name" class="col-form-label">Your name:</label>
										<input type="text" class="form-control" id="customer-name" name="username" required>
										<span asp-validation-for="@Model.rating.username"></span>
										<div class="invalid-feedback">
											Please fill your name.
										</div>
									</div>

									<div>
										<div id="rating_card_frame" class="container p-0">
											<div class="star-widget">
												<input type="radio" name="ratingPoint" value="5" id="rate-5" />
												<label for="rate-5" class="fa fa-star"></label>
												<input type="radio" name="ratingPoint" value="4" id="rate-4" />
												<label for="rate-4" class="fa fa-star"></label>
												<input type="radio" name="ratingPoint" value="3" id="rate-3" />
												<label for="rate-3" class="fa fa-star"></label>
												<input type="radio" name="ratingPoint" value="2" id="rate-2" />
												<label for="rate-2" class="fa fa-star"></label>
												<input type="radio" name="ratingPoint" value="1" id="rate-1" required />
												<label for="rate-1" class="fa fa-star"></label>

												<div class="invalid-feedback">
													Please place your rate.
												</div>
											</div>
										</div>
									</div>

									<div class="mb-3">
										<label for="message-text" class="col-form-label">Your review:</label>
										<textarea class="form-control" id="message-text" name="message"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Send</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<script>
					// Example starter JavaScript for disabling form submissions if there are invalid fields
					(function () {
						'use strict'

						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document.querySelectorAll('.needs-validation')

						// Loop over them and prevent submission
						Array.prototype.slice.call(forms)
							.forEach(function (form) {
								form.addEventListener('submit', function (event) {
									if (!form.checkValidity()) {
										event.preventDefault()
										event.stopPropagation()
									}

									form.classList.add('was-validated')
								}, false)
							})
					})()
				</script>

				<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalToggleLabel2">New rating</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body text-center">
								<h3>Your review is recorded!</h3>
								<h4>Thanks for your rating :")</h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row pb-1">
		<h3>Reviews</h3>
		<hr />
		@for (int i = 0; i < Model.totalRatingDisplay; ++i)
		{
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@Model.product.ratings[i].username</h5>
					<h6 class="card-subtitle mb-2 text-muted">@Model.product.ratings[i].localDate</h6>

					@for (int star = 0; star < @Model.product.ratings[i].ratingPoint; ++star)
					{
						<span class="fa fa-star checked"></span>
					}

					@for (int star = @Model.product.ratings[i].ratingPoint; star < 5; ++star)
					{
						<span class="fa fa-star"></span>
					}

					<p>@Model.product.ratings[i].message</p>

				</div>
			</div>
		}
	</div>
	<div class="row">
		<button href="#" type="button" class="btn btn-secondary">View all reviews</button>
	</div>
</div>
