@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using RookieShop.Shared;
@using Rookie.CustomerSite.ViewModels;
@inject Microsoft.Extensions.Configuration.IConfiguration configuration;

@model ViewCategoryProduct
@*@model string*@

@{
	ViewData["Title"] = "Category detail Page";
}

<div class="container">
	<div class="row">
		<div class="col-3">
			@if (Model != null)
			{
				<h2>Category: @Model.category.name</h2>
			}
			<form class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				<label class="form-check-label" for="flexCheckDefault">
					Featured product
				</label>
			</form>
		</div>
		<div class="col">
			<div class="container">
				<div class="row">
					@if (Model != null)
					{
						@foreach (var item in Model.productList)
						{
							<div id="product_card" class="card col-md-4 col-sm-6 col-xs-12 p-0" @*style="width: 20rem;"*@>
								<a id="product_card_image_btn" class="btn btn-outline-light p-0" asp-controller="Product" asp-action="@item.id">
									<img id="product_card_image" src="@Url.Content(configuration["BackendBaseAddress"] + @item.imageUri)" alt="@item.imageUri">
								</a>
								<div class="card-body">
									<a id="product_card_name_link" asp-controller="Product" asp-action="@item.id">
										<h5 id="product_card_name" class="card-title">@item.name</h5>
									</a>
									<h6 class="align-bottom">@item.price VND</h6>

									<a id="addtocard_btn" href="#" class="btn btn-outline-light w-100">
										<p id="addtocard_text">Add to Cart</p>
									</a>
								</div>
							</div>
						}
					}
					else
					{
						<h1>No product found!</h1>
					}
				</div>
			</div>
		</div>
	</div>
</div>