@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using RookieShop.Shared;
@using Rookie.CustomerSite.ViewModels;

@model ViewCategoryProduct
@*@model string*@

@{
	ViewData["Title"] = "Category detail Page";
}

<div class="container">
	<div class="row">
		<div class="col-3">
			@if (Model != null)
			{
				<h2>Category: @Model.category.name</h2>
			}
		</div>
		<div class="col">
			<div class="container">
				<div class="row">
					@if (Model != null)
					{
						@foreach (var item in Model.productList)
						{
							<div class="card col-4" @*style="width: 20rem;"*@>
								<img src="@Url.Content(@item.imageUri)" class="card-img-top" alt="@item.imageUri">
								<div class="card-body">
									<h5 class="card-title">@item.name</h5>
									<h6>@item.price VND</h6>

									<a href="#" class="btn btn-primary">Add to card</a>
								</div>
							</div>
						}
					}
					else
					{
						<h1>No product found!</h1>
					}
				</div>
			</div>				
		</div>	
	</div>
</div>